.content-area {
	float: right;
	margin: 0 0 0 (-$size__jchckite-sidebar);
	width: $size__jchckite-main;
}

.site-main {
	margin: 0 0 0 $size__jchckite-sidebar;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size__jchckite-sidebar;
}

.site-footer {
	clear: both;
	width: $size__jchckite-main;
}