<!--
	This is the front page of the application
	@link https://hexo.io/docs/templates.html
-->
<div class="w-two-thirds-l">
	<div class="aspect-ratio aspect-ratio--6x4">
		<div class="aspect-ratio--object bg-center cover" style="background-image: url('<%- url_for('/img/jchck.jpg') %>');"></div>
	</div>
</div>

<div class="w-third-l">
	<div class="h-100 flex flex-column justify-end">
		<p class="measure f3 mt0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae tincidunt erat. Quisque a aliquet tortor, venenatis scelerisque orci. Nullam condimentum urna est, ut dictum ex rutrum a. Donec eleifend nibh eget orci vulputate, aliquam semper purus convallis.</p>

		<p class="measure f3 mb0">Aliquam sit amet lobortis libero. Aliquam erat volutpat.</p>
	</div>
</div>