.btn-blue{
	@include btn-color(#fff, $blue, transparent);

	&:hover,
	&:focus{
		background-color: lighten($blue, 9%);
		color: #fff;
	}
}

.btn-default{
	&:hover,
	&:focus{
		color: lighten($blue, 4%);
	}
}

.btn-sm{
	font-size: 75%;
}