.btn{
	font-family: $headings-font-family;
}

.btn-red{
	@include btn-color(#fff, $red, $gray);

	&:hover{
		background-color: lighten($red, 4%);
	}
}

.btn-blue{
	@include btn-color(#fff, $blue, $gray);

	&:hover,
	&:focus{
		background-color: lighten($blue, 4%);
		color: darken($text-color, 12%);
	}
}

.btn-default{
	&:hover,
	&:focus{
		color: lighten($blue, 4%);
	}
}

.btn-sm{
	font-size: 75%;
}