.gform_wrapper{
  //border-top: 1px solid $gray;

  form{
    margin-bottom: 0
  }

  ul{
    @extend .list-unstyled;
  }

  li{
    @extend .form-group;
  }

  .gfield_required{
    padding-left: 1px;
    color: $state-danger-text;
  }

  label{
    font-weight: normal;
  }

  .ginput_counter{
    color: $gray-light;
  }
}

.ginput_container{
  input,
  select,
  textarea{
    @extend .form-control;
  }

  textarea{
    height: 10rem;
  }
}

.ginput_complex{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;

  span{
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: .5rem;
    padding-right: .5rem;

    label{
      color: $gray-light;
    }
  }
}

.gform_button{
  // This is to make the btn transistion like a link
  @include ease-in-out(.5s);

  // This is to center the btn
  margin: 0 auto !important;

  // This is to style the btn
  display: block;
  font-size: $btn-font-size-base;
  font-weight: $btn-font-weight;
  line-height: $line-height-base;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-border-radius-base;
  border: $btn-border-width solid transparent;
  margin: 0;
  white-space: nowrap;

  &:focus{
    outline: none;
  }

  &:hover,
  &:active{
    text-decoration: none;
  }

  // This is to make the btn blue
  @include btn-color(#fff, $blue, $gray);

  &:hover,
  &:focus{
    background-color: lighten($blue, 4%);
    color: darken($text-color, 12%);
  }
}

.gform_wrapper .gfield_error {
  .gfield_label {
    color: $state-danger-text;
  }
  input,
  select,
  textarea {
    border-color: $alert-danger-border;
    background-color: $alert-danger-bg;
    color: $alert-danger-text;
    @include form-control-focus($alert-danger-text);
  }
}
.validation_error {
  @extend .alert;
  @extend .alert-danger;
}
#gforms_confirmation_message {
  @extend .alert;
  @extend .alert-success;
}