// Gallery shortcode
.gallery{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin-right: $gutter-compensation;
  // margin-left: $gutter-compensation;
  justify-content: center;
  text-align: center;
}

.gallery-item{
  flex-grow: 1;
  flex-basis: 50%;
  max-width: 50%;
  margin-bottom: 2rem;
  img{
  	margin: 0 auto;
  }
}

.gallery-caption {
  display: none;
}