/**
 *
 * The .color-box class is used in the following templates:
 * 
 * 	+ archive-12-launches.php
 * 	+ archive-work.php
 * 	+ single-12-launches.php
 *  + single-work.php
 * 	+ template-frontpage.php
 * 	+ front-page.php
 * 
 * To provide us with the color and hover effects of the blue boxes
 *
 */


.color-box{
	color: $text-color;
	min-width: 100%;
	border: 1px solid #eee;
	@include ease-in-out(.1s);

	p svg{ /* Used on archives */
		width: 100px;
		path{
			@include ease-in-out(.1s);
			fill: $text-color;
		}
	}
	h2{
		margin: 0;
		text-align: center;
	}
	p,
	h2,
	h3{
		@media (max-width: $screen-sm){
			text-align: center;
		}
	}

	svg.icon{ /* Used on front-page */
		height: 100px;

		@media (max-width: $screen-sm){
			max-width: 3.5rem;
		}

		path{
			fill: $text-color;
			@include ease-in-out(.1s);
		}
	}

	p{
		font-size: 18px;
		margin-bottom: 0;
	}

	&:hover,
 	&:focus{
 		color: #fff;
 		fill: #fff;
 		background: $blue;
 		border-color: transparent;
 		text-decoration: none;

 		svg.icon path, /* Used on front-page */
 		p svg path{ /* Used on archives */
 			fill: #fff;
 		}
 	}
}

.cb-ht{
	height: 15rem;
}
