/**
 *
 * Gotham Light
 *
 */

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/ufonts.com_gotham-light-webfont.eot');
    src: url('../fonts/ufonts.com_gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_gotham-light-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_gotham-light-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 *
 * Fontello
 *
 */

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot');
	src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/fontello.woff') format('woff'),
	     url('../fonts/fontello.ttf') format('truetype'),
	     url('../fonts/fontello.svg#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
[class^="i-"]:before, 
[class*=" i-"]:before,
.digital-nomad:before,
.front-end-development:before,
.music:before,
.photography:before {
	display: inline-block;
	font: normal normal normal 14px/1 fontello;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-menu:before { content: '\e800'; }
.i-github:before { content: '\e801'; }
.i-instagram:before { content: '\e802'; }
.i-twitter:before { content: '\e803'; }

.i-code:before, .front-end-development:before { content: '\e804'; }
.i-train:before, .digital-nomad:before { content: '\e807'; }
.i-music:before, .music:before { content: '\e808'; }
.i-photos:before, .photography:before { content: '\e809'; }