@mixin ease-in-out($time) {
  transition: all $time ease-in-out;
}

::selection{
	color: $body-bg;
	background: $brand-primary;
}

.wrap{
	box-sizing: border-box;
	max-width: $container-desktop;
}

.bg-gray{
	background: $gray;
}

img{
	@include img-responsive;
}

a{
	@include ease-in-out(.5s);
}

.border-top-gray{
	border-top: 1px solid $gray
}

.lead{
	font-weight: 600;
}