@mixin ease-in-out($time) {
  transition: all $time ease-in-out;
}

::selection{
	color: $body-bg;
	fill: $body-bg;
	background: $brand-primary;
}

.wrap-sm{
	max-width: $container-md;
}

.wrap-12-launches,
.wrap{
	max-width: $container-lg + 90px;
}

.bg-gray{
	background: $gray;
}

.bg-off-white{
	background: $off-white;
}

img{
	@include img-responsive;
}

a{
	@include ease-in-out(.1s);
}

.position-relative{
	position: relative;
}
.border-radius{
	border-radius: $border-radius-base;
}
.border-radius-top-left{
	border-top-left-radius: $border-radius-base;
}

.circle{
	border-radius: 50%;
}

.width-100{
	width: 100%;
}

.border-top-gray{
	border-top: 4px solid $gray;
}

.border-bottom-gray{
	border-bottom: 4px solid $gray;
}

.border-bottom-gray-sm{
	@media (max-width: $screen-sm - 1){
		border-bottom: 4px solid $gray;
	}
} 

.border-body-bg{
	border: 2px solid $body-bg;
}

.border{
	border: 1px solid $gray;
	//border-radius: $border-radius-base;
	&.zoom-img{
		border-color: transparent;
		border-radius: 0;
	}
}

.lead{
	font-weight: 600;
	font-size: $font-size-base;
	@media (min-width: $screen-xs){
		//font-size: 2rem;
	}
	@media (min-width: $screen-sm){
		font-size: 2.5rem;
	}
	@media (min-width: $screen-md) {
		font-size: 3.5rem;
	}
}

.strong{
	font-weight: bold;
}

.highlight{
	background: lighten($blue, 4%);
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;

	&:hover,
	&:focus{
		text-decoration: none;
		color: $blue;
		background: transparent;
	}
}

.highlight-svg{
	svg{
		background: $blue;
		color: #fff;
		fill: #fff;

		&:hover,
		&:focus{
			text-decoration: none;
			background: transparent;
			color: $blue;
			fill: $blue;
		}
	}
}

.px0{ padding-left: 0; padding-right: 0}

.mx-neg{
	@media (min-width: $screen-md){
		margin-left: -3em;
		margin-right: -3em;
	}
	@media (min-width: $screen-lg){
		margin-left: -5em;
		margin-right: -5em;
	}
}