/**
 *
 * These classes are targed only to -moz browsers
 * 
 * Primarily used in conjunction with Fitter-Happier-Text to adjust for moz line-height weirdness
 *
 */

@-moz-document url-prefix() {
	.moz-mb-35{
		margin-bottom: -35%;
	}
	.moz-mb-20{
		margin-bottom: -20%;
	}
	.moz-mb-17{
		/* used on archive-12-launches & archive-work */
		margin-bottom: -17%;
	}
	.moz-mb-15{
		/* used on archive-12-launches (in the color box) */
		margin-bottom: -15%;
	}
	.moz-mb-7{
		margin-bottom: -7%;
	}
}