@media (max-width: $screen-sm){
	.h1-md{
		font-size: $font-size-h1 * .72;
	}
	.h2-md{
		font-size: $font-size-h2 * .72;
	}
	.h3-md{
		font-size: $font-size-h3 * .72;
	}
	.h4-md{
		font-size: $font-size-h4 * .72;
	}
}