// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$gutter-width: 1rem !default;
$outer-margin: 2rem;

$width-xs: 30 !default;
$width-sm: 48 !default;
$width-md: 62 !default;
$width-lg: 75 !default;

// Wrap Width
//$container-desktop:            1140px;

// Colors
$red:					#ff0f0f;
$gray:					#e0e0e0;
$black:					#292929;
$brand-primary:         $red;

// Type
$text-color: 			  $black;
$font-family-base:        "gotham_lightregular", Helvetica, Arial, sans-serif;
$headings-font-family:    inherit;

$font-size-base:		20px;
$font-size-large:       ceil(($font-size-base * 1.25));

// Scotch Panel
$desktop-nav-width: 400px;

// Forms
$input-color:                    $black;
$input-border:                   #ccc !default;
//$input-border-radius:            $border-radius-base;
$input-border-focus:             $brand-primary;

// Buttons
$btn-font-size-base: $font-size-large;
$btn-default-border: transparent;

// Notebook
$notebook-transparency:		rgba(0,0,0,0.75);