// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$gutter-width: 1rem !default;
$outer-margin: 2rem;

// Bootstrap Screen Width Variables
$screen-xs:		480px;
$screen-sm:		768px;
$screen-md:		992px;
$screen-lg:		1200px;


// Wrap Width
//$container-desktop:            1140px;
$container-md:			870px;

// Colors
$red:					#ff0f0f;
$gray:					#e0e0e0;
$black:					#292929;
$black-light:			lighten($black, 15%);
$blue:					#0074D9;
$off-white:				#f4f7f9;

$brand-primary:         $blue;
$blue-light:			lighten($blue, 8%);
$blue-lighter:			lighten($blue, 12%);
$gray-base: 			$black;

// Type
$text-color: 			  $black;
$font-family-base:        "gotham_lightregular", Helvetica, Arial, sans-serif;
$headings-font-family:    inherit;

$blockquote-border-color:     $blue-light;

$font-size-base:		27px;
$font-size-large:       ceil(($font-size-base * 1.25));

// Text Links
$link-color:			$text-color;
$link-hover-color: 		$text-color;
$link-hover-decoration: none;



// Scotch Panel
$desktop-nav-width: 	450px;
$screen-sm-nav-width:	20rem;

// Navbar
$nav-link-hover-bg: $blue;

// Forms
$input-color:                    $black;
$input-border:                   #ccc !default;
//$input-border-radius:            $border-radius-base;
$input-border-focus:             $brand-primary;

// Buttons
$btn-font-size-base: $font-size-large;
$btn-default-border: transparent;
$btn-border-radius-base: 2px;

// Notebook
$notebook-transparency-regular:		rgba(0, 0, 0, 0.1);
$notebook-transparency-hover:		rgba(0, 0, 0, 0.6);
