// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$gutter-width: 1rem !default;
$outer-margin: 2rem;

$width-xs: 30 !default;
$width-sm: 48 !default;
$width-md: 62 !default;
$width-lg: 75 !default;

// Wrap Width
$container-desktop:            1140px;

// Colors
$brand-primary:         #27ae60;
