.btn-group{ }

	.btn-group .btn{
		border-radius: 0
	}

	.btn-group .btn:first-of-type{
		border-top-left-radius: var(--border-radius);
	}

	.btn-group .btn:last-of-type{
		border-top-right-radius: var(--border-radius);
	}


.btn-white{
	color: var(--blue);
	background-color: var(--white);
	border-radius: var(--border-radius);
}

	.btn-white:hover{
		box-shadow: inset 0 0 0 20rem var(--darken-1);
	}

.btn-mnml{
	/*border-color: transparent;*/
	border: 0;
	border-bottom: 2px solid var(--white);
	transition: all .3s;
	font-size: var(--h4);
	font-weight: 400;
}

	.btn-mnml:hover{
		border-bottom: 2px solid var(--blue);
		transform: scale(1.05);
	}