/**
 *
 * Material Design Input Boxes
 * @link https://scotch.io/tutorials/google-material-design-input-boxes-in-css3
 *
 */

 /**
  *
  * Styles Specific to 404 Search Bar
  *
  */
.search404 input,
.search404 .bar{ width: 12rem }

@media (--breakpoint-sm){
	.search404 input,
	.search404 .bar{ width: 24rem }
}

input{
	
	border:none;
}

input:focus{ outline: none }

label{
	pointer-events:none;
	left: calc( var(--space-1) / 2);
	top: var(--space-1);
	transition: var(--transition); 
}

input:focus ~ label, input:valid ~ label{
	top: var(--space-2);
	font-size: var(--h5);
	color: var(--color);
}

.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: var(--color); 
  transition: var(--transition); 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
}

.highlight {
	height:60%; 
	top:25%; 
	pointer-events:none;
	opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
	animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
	from  { background: var(--color); }
	to    { width:0; background:transparent; }
}

/* active state */
input:focus ~ label, input:valid ~ label {
	top:-20px;
	font-size:14px;
	color: var(--color);
}