.h1-fp{
	font-size: var(--h1);
	font-weight: 400;
}

@media (--breakpoint-sm){
	.h1-fp{ font-size: calc( var(--h1) + 0.5 ) }
}

.h2-fp{
	font-size: var(--h2);
	font-weight: 400;
}

@media (--breakpoint-sm){
	.h2-fp{ font-size: calc( var(--h2) + 0.5) }
}