.logo{

	/**
	 *
	 * Set the size of header logo
	 *
	 */
	width: calc( var(--space-4) + var(--space-2) );

	/**
	 *
	 * Set logo transition speed
	 *
	 */
	#jc{ transition: var(--transition) }

	/**
	 *
	 * Set logo :hover state
	 *
	 */
	&:hover #jc{ stroke: var(--color) }
}

/**
 *
 * Styling project logos on /case-studies/ index
 *
 */
.logo-work svg{ width: var(--space-4); }

.logo-work svg path{ fill: var(--color); }

/**
 *
 * These target inner sections of Chapel (#C) & Dashtaki (#D) logos
 *
 */
#D,
#C{
	fill: #fff;
}

#C_feather{
	stroke: #fff;
	stroke-width: 5px;
}