/**
 *
 * Base font-size
 *
 */
 html{ font-size: var(--base-font-size) }

 /**
  *
  * Link styline
  *
  */
a{
	color: var(--color);
	transition: var(--transition);
	text-decoration: none;
}
 a:hover,
 a:focus{
 	color: var(--color-hover);
 }

/**
 *
 * Serif font stack
 *
 */
/* .serif{ font-family: Athelas, Georgia, Times, 'Times New Roman', serif;}

/**
 *
 * Turn off margin-top for first of type <p> elements
 *
 */
p:first-of-type{margin-top: 0 }

/**
 *
 * Type measure ~66 characters
 * @see https://github.com/tachyons-css/tachyons-typography
 *
 */
.measure{ max-width: 30em }

/**
 *
 * Add / after all but last <li> inside <ul class="slash">
 *
 */

.slash li{
	&:after{
		content: '/';
		padding-left: var(--space-1);
	}
	&:last-of-type:after{
		content: '';
		padding-left: 0;
	}
}