/**
 *
 * Base font-size
 *
 */
 html{ font-size: var(--base-font-size) }

 /**
  *
  * Link styline
  *
  */
a{
	color: var(--color);
	transition: var(--transition);
	text-decoration: none;
}
 a:hover,
 a:focus{
 	color: var(--color-hover);
 }

/**
 *
 * Serif font stack
 *
 */
/* .serif{ font-family: Athelas, Georgia, Times, 'Times New Roman', serif;}

/**
 *
 * Turn off margin-top for first of type <p> elements
 *
 */
p:first-of-type{margin-top: 0 }

/**
 *
 * Type measure ~66 characters
 * @see https://github.com/tachyons-css/tachyons-typography
 *
 */
.measure{ max-width: 30em }

/**
 *
 * Styling inline <code> blocks
 *
 */
code{
	color: var(--red);
	background: #e8e8e8;
	border-radius: var(--border-radius);
}

/**
 *
 * Add / after all but last <li> inside <ul class="slash">
 *
 */

.slash li{
	&:after{
		content: '/';
		padding-left: var(--space-1);
	}
	&:last-of-type:after{
		content: '';
		padding-left: 0;
	}
}

/**
 *
 * Decrease inline-block lists (nav & post categories) font size on mobile
 *
 */
.slash .inline-block{ font-size: var(--h5) }

@media (--breakpoint-sm){
	.slash .inline-block{ font-size: var(--base-font-size) }
}

/**
 *
 * Decrease .caps letter spacing
 *
 */
.caps{ letter-spacing: 0 }

@media (--breakpoint-lg){
	.caps{ letter-spacing: .2em }
}