/**
 *
 * Styles specific to 12 Launches
 * 
 * Beginning with styles for archive-12-launches.php (index)
 *
 */

 .launch-card{
 	color: $text-color;
 	min-width: 100%;
 	@include ease-in-out(.3s);

 	&:hover,
 	&:focus{
 		color: #fff;
 		fill: #fff;
 		background: $blue;
 		text-decoration: none;

 	}
 	svg{
 		height: 100px;
 	}

 	p{
 		font-size: 18px;
 		margin-bottom: 0;
 	}
 }

 .card-text{
 	width: 100%;
 }

/**
 *
 * Add 12 Launches Single styles below
 *
 */
