footer{
	a{
		&.call{
			color: $link-color;
			&:hover{
				color: $link-hover-color;
				text-decoration: none;
			}
		}
		color: $gray;
		&:hover{
			text-decoration: none;
		}
	}
	.footer-nav a{
		color: $link-color;
		&:hover{
			color: $blue;
		}
	}
}