footer{
	a{
		&.call{
			color: $link-color;
			&:hover{
				color: $link-hover-color;
				text-decoration: underline;
			}
		}
		color: $gray;
		&:hover{
			text-decoration: none;
		}
	}

	.ad-title{
		color: $gray;
	}

	.ad{
		position: relative;

		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0,0,0,.33);
			@include ease-in-out(.5s);
		}

		&:hover:after{
			background-color: rgba(0,0,0,.0);
		}
	}
}