/*==========  Latest Post Banner  ==========*/

.latest-post{
	background-position: center;
	background-size: cover;
	//color: #fff;
	padding: 4rem 0;

	h2, p{
		margin: 0;
	}

	p{
		font-size: $font-size-h4;

		&:last-of-type{
			margin-top: 2rem;
		}
	}

	a{
		color: inherit;
	}
}