/**
 *
 * iPads
 *
 */
.home{
	.ipad{
		// height: 200px;
		&:hover,
		&:focus{
			.ipad-screen:before{
				content: '';
				text-decoration: none;
				color: #fff;
				background: $notebook-transparency-hover;
			}
		}
	}
	.ipad-screen{
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			color: transparent;
			background: rgba(0, 0, 0, 0.2);
			@include ease-in-out(.5s);
		}
	}
	.ipad{
		width: 220px;
	}
	.ipad-screen{
		top: 14px;
		height: 132px;
		width: 181px;
	}
	@media (min-width: $screen-xs){ //480px
		.ipad{
			width: 205px;
		}
		.ipad-screen{
			top: 14px;
			height: 121px;
			width: 168px;
		}
	}
	@media (min-width: $screen-sm){ // 768px
		.ipad{
			width: 226px;  
		}
		.ipad-screen{
			//top: 14px;
			height: 135px;
			width: 187px;
		}
	}
	@media (min-width: $screen-md){ // 992px
		.ipad{
			width: 293px
		}
		.ipad-screen{
			height: 175px;
			width: 240px;
		}
	}
	@media (min-width: $screen-lg){ // 1200px
		.ipad{
			width: 460px;
		}
		.ipad-screen{
			height: 181px;
			width: 241px;
		}
	}
}