.hero{
	z-index: 1;
	position: relative;
	color: $body-bgl
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: .4;
	}
}

.hero-top{
	background: $blue;
	&:after{
		background: url('../images/hero-top.jpg') center center no-repeat;
		background-size: cover;
	}
}

.hero-foot{
	background: $black;
	&:after{
		background: url('../images/hero-foot.jpg') center center no-repeat;
		background-size: cover;
		filter: grayscale(100%);
	}
}