header{
	.logo{
		margin-bottom: 3rem;
		@media (min-width: $screen-sm){
			margin-bottom: 6rem;
		}
		&:hover{
			#jc{
				stroke: $blue;
			}
		}
	}
}

#jc{
	@include ease-in-out(.3s);
	stroke: $black;
}