/**
 *
 * Off canvas nav
 *
 */


nav{
	background: $black;
	a{
		@include ease-in-out(.1s);
		color: #fff;
		&:hover{
			color: #fff;
		}
	}
	.border-top{
		border-top: 1px solid $black-light;
	}
	.btn{
		font-size: 22px;
		@include ease-in-out(.5s);
	}
}

@media (min-width: $screen-sm){
	.scotch-panel-canvas.scotch-is-showing{
		transform: translate3d(-$desktop-nav-width, 0px, 0px) !important;
	}
	nav.scotch-panel-right{
		width: $desktop-nav-width !important;
		right: -$desktop-nav-width !important
	}
}

.menu-front-end-development a:before,
.menu-digital-nomad a:before,
.menu-music a:before,
.menu-photography a:before,
.menu-notebook a:before,
.menu-home a:before{
	margin-right: 1rem;
}

.menu-home,
.menu-notebook{
	a:after{
		display: inline-block;
		color: transparent;
		font-size: 1.4rem;
		margin-left: 1rem;
		@include ease-in-out(.1s);
	}
	a:hover:after{
		color: darken(#fff, 25%);
	}
}

.menu-home a:after{
	content: '(the beginning)';
}

.menu-notebook{
	.sub-menu{
		width: 90%;
		margin: 0 auto;
		border: 1px solid $black-light;
		border-radius: $border-radius-base;
		padding-bottom: 27px;
		&:before{
			content: '(notebook collections)';
			display: block;
			color: transparent;
			text-align: center;
			font-size: 1.4rem;
			padding-top: .5rem;
			@include ease-in-out(.1s);
		}
		&:hover:before{
			color: darken(#fff, 25%);
		}
		a:after{
			content: '';
		}
	}
	ul{
		padding: 0;
	}
	a{
		padding: 10px 15px;
		position: relative;
		display: block;
		&:hover{
			text-decoration: none;
			background-color: $blue;
		}
		&:after{
			content: '(all my thoughts)';
		}
	}
}

/**
 *
 * Posts Navigation
 *
 */

.posts-navigation{
	background: $body-bg;
	.nav-previous,
	.nav-next{
		@include clearfix;
		a{
			display: inline-block;
			font-size: $btn-font-size-base * .55;
			font-weight: $btn-font-weight;
			line-height: $line-height-base;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			text-decoration: none;
			padding: $btn-padding-y $btn-padding-x;
			border-radius: $btn-border-radius-base;
			border: $btn-border-width solid transparent;
			margin: 0;
			white-space: nowrap;

			@include btn-color(#fff, $blue, $gray);

			&:hover,
			&:focus{
				background-color: lighten($blue, 8%);
				color: darken(#fff, 12%);
			}

	&:focus{
		outline: none;
	}

	&:hover,
	&:active{
		text-decoration: none;
	}
		}
	}
	.nav-previous{
		float: left;
	}
	.nav-next{
		float: right;
	}
}