/**
 *
 * Posts Navigation
 *
 */

.posts-navigation{
	.nav-previous,
	.nav-next{

		a{
			@include btn-color(#fff, $blue, transparent);

			display: inline-block;
			font-size: 75%;
			font-weight: $btn-font-weight;
			line-height: $line-height-base;
			text-align: center;
			text-transform: capitalize;
			vertical-align: middle;
			cursor: pointer;
			text-decoration: none;
			padding: $btn-padding-y $btn-padding-x;
			border: $btn-border-width solid transparent;
			margin: 0;
			white-space: nowrap;

			&:hover,
			&:focus{
				background-color: lighten($blue, 9%);
				color: #fff;
			}

			&:hover,
			&:active{
				text-decoration: none;
			}

			&:focus{
				outline: none;
			}
		}
	}
	.nav-previous{
		float: left;
	}
	.nav-next{
		float: right;
	}
}