.hire-justin{
	ol,
	form{
		width: 85%;
		margin: 0 auto;
		@media (min-width: $screen-md){
			width: 75%;	
		}
	}
	ol{
		border: 1px solid $gray;
		border-radius: $border-radius-base;
		padding: 15px 15px 15px 55px;
		margin-bottom: 3rem;
	}
	h3,
	h4{
		margin: 3rem 0;
	}
	h4{
		background: $blue;
		@include ease-in-out(.5s);
		padding: 2rem;
		margin-right: -2rem;
		margin-left: -2rem;
	}
}
.hire-cta{
	color: #fff;
	border-radius: $btn-border-radius-base;
	border: $btn-border-width solid $gray;
	line-height: 1.3;
	// &:hover,
	// &:focus{
	// 	background: lighten($blue, 8%);
	// 	color: darken(#fff, 12%);
	// 	border-color: darken($gray, 12%);
	// 	text-decoration: none;
	// }
}
.work-box{
	min-height: 15rem;
	background: $blue;
}