.project-svg{
	padding: 2rem;
	text-align: center;
	p{
		margin: 0;
	}
	svg{
		
		max-width: 70px;
		max-height: 70px;
	}
	&:hover,
	&:focus{
		text-decoration: none;
		color: #fff;
		background: $blue;
		svg{
			fill: #fff;
		}
	}
}

/**
 *
 * The .color-box class is used on both the work & 12 launches archives
 * 
 * To provide us with the color and hover effects of the blue boxes
 *
 */


.color-box{
	color: $text-color;
	min-width: 100%;
	@include ease-in-out(.3s);

	svg{
		height: 100px;

		path{
			fill: $text-color;
			@include ease-in-out(.3s);
		}
	}

	p{
		font-size: 18px;
		margin-bottom: 0;
	}

	&:hover,
 	&:focus{
 		color: #fff;
 		fill: #fff;
 		background: $blue;
 		text-decoration: none;

 		svg path{
 			fill: #fff;
 		}
 	}
}
