.project-svg{
	padding: 2rem;
	text-align: center;
	p{
		margin: 0;
	}
	svg{
		
		max-width: 70px;
		max-height: 70px;
	}
	&:hover,
	&:focus{
		text-decoration: none;
		color: #fff;
		background: $blue;
		svg{
			fill: #fff;
			#D{
				/* This is for Dashtaki Logo */
				fill: $blue;
			}
		}
	}
}

#D{
	/* This is for Dashtaki Logo */
	@include ease-in-out(.3s);
}
.launch-card:hover{
	#D{
		fill: $blue;
	}
}

.svg-color{
	@include ease-in-out(.3s);
	svg{
		path{
			@include ease-in-out(.3s);
		}
	}
	&:hover,
	&:focus{
		svg{
			path{
				fill: #fff;
			}
		}
	}
}
