/**
 *
 * Notebook Index
 *
 */

.post-card{
	position: relative;
	border: 1px solid $gray;
	color: transparent;
	background: rgba(0, 0, 0, 0.2);
	@include ease-in-out(.5s);
	h2{
		color: #fff;
		@include ease-in-out(.5s);
	}
	&:hover,
	&:focus{
		text-decoration: none;
		color: #fff;
		background: $notebook-transparency-hover;

		h2{
			color: #fff;
		}

		.card-img{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: transparent;
			@include ease-in-out(.5s);
		}
		&:before{
			background-color: $notebook-transparency-hover;
		}
	}
}

.post-img{
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.list-inline{
	.post,
	.uncategorized{
		display: none;
	}
}

.img-size{
	min-height: 200px;
	min-width: 100%;
}

.img-holder{
	width: 200px;
}

@media (min-width: $screen-sm){
	.img-size{
		min-height: 300px;
	}
	.img-holder{
		width: 300px;
	}
}

@media (min-width: $screen-md){
	// .img-size{
	// 	min-height: 300px;
	// }
	// .img-holder{
	// 	width: 300px;
	// }
}


/**
 *
 * Notebook Single
 *
 */

.category-icons{
	.no-icon:before{
		content: '';
	}
	a{
		color: #fff;
		@include ease-in-out(.5s);
		&:hover{
			color: $blue;
		}
	}
}
