/**
 *
 * Notebook Index
 *
 */

.post-card{
	display: block;
	position: relative;
	border: 1px solid $gray;
	border-radius: $border-radius-base;
	&:hover,
	&:focus{
		text-decoration: none;
		&:before{
			background-color: $notebook-transparency;
		}
		p,
		h2{
			color: #fff;
		}
	}
	p,
	h2{
		color: transparent;
	}
}

.card-img{
	position: absolute;
	background: url('../images/notebook1.jpg') center center no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: transparent;
		@include ease-in-out(.5s);
	}
}

.acf-map{
	width: 100%;
	min-height: 476px;
		@media (max-width: $screen-xs-min){
			min-height: 250px;
		}
}