.ipad{
	position: relative;

}

.ipad-screen{
	position: absolute;
	//background: url('../images/dashtaki.png') center center;
	background-size: cover;
	height: 280px;
	width: 370px;
	top: 16px;
	left: 45px;
	z-index: -1;
}