.ipad{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		//background-color: rgb(38, 38, 38);
		background-color: purple;
		top: 0;
		left: 0;
		bottom: 7px;
		right: 0;
		z-index: -2;
		border-radius: $border-radius-base;
	}
}

.ipad-screen{
	position: absolute;
	z-index: -1;
}

@media(min-width: $screen-xs){
	.single-work{background: yellow}
}

@media(min-width: $screen-sm){
	.single-work{background: green}
	.ipad{
		width: 359px;
		display: block;
		margin: 0 auto;
	}
	.ipad-body{
		width: 359px;
		height: 242px;
	}
	.ipad-screen{
		top: 12px;
		// margin-left: 7.5%;
		// margin-right: 7.5%;
		margin: 0 9%;
		height: 219px;
	}
}

@media(min-width: $screen-md){
	.single-work{background: orange}
	.ipad{
		width: 460px;
	}
	.ipad-body{
		width: 460px;
		height: 311px;
	}
	.ipad-screen{
		top: 15px;
		margin-left: 9.7%;
		margin-right: 9.7%;
		height: 281px;
		width: 370px;
	}
}

@media(min-width: $screen-lg){
	.single-work{background: red}

}