<header class="flex justify-between">

	<a class="self-center" href="<%- config.root %>">
		<%- inline_svg('/svg/logo.svg') %>
	</a>

	<nav>
		<a class="f5 no-underline bg-animate hover-bg-black black hover-white inline-flex items-center pa3 ba border-box" href="#">Nav Item</a>
		<a class="f5 no-underline bg-animate hover-bg-black black hover-white inline-flex items-center pa3 ba border-box" href="#">Nav Item</a>
		<a class="f5 no-underline bg-animate hover-bg-black black hover-white inline-flex items-center pa3 ba border-box" href="#">Nav Item</a>
	</nav>

</header>